# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives***
- List popular languages for Data Science
- List libraries used in Data Science
- Execute arithmetic expressions
- List tools that are commonly used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. Scikit-learn
3. Caret

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Spyder                      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Naoki Atkins